.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.hr {
    border: 1px solid #000;
    width: 50px;
}
.resume {
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-title {
    color: #FF4C60;
}
.image img {
    width:  60%;
}