.navbar {
    max-width: 90%;
    margin: 0 auto;
}
.navbar__logo h2{
    font-weight: 700;
    font-size: 2em;
}
.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.navbar__menu li:nth-child(1){
    color: #FF4C60;
}
.navbar__menu li:nth-child(2){
    color: #282828;
}